/* Default styles */
.item {
    width: 350px;
}

.item p {
    margin-bottom: 6px 0px;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 500;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

/* Responsive styles */
@media (max-width: 768px) {
    .item {
        width: 100%; /* Full width for smaller screens */
    }
}
