/* Default styles */
.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .breadcrum {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 16px;
    }
}
